PORT=3002
DATABASE_URI=

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_this_password

JWT_SECRET=
JWT_EXPIRATION=24h
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

APP_NAME=Annotation System
APP_VERSION=1.0.0
